@import url('https://fonts.googleapis.com/css2?family=Poppins');


/* reset browser css */
*, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);
    --neutral-darkblue: hsl(234, 12%, 34%);
    --neutral-blue: hsl(229, 6%, 66%);
    --neutral-gray: hsl(0, 0%, 98%);
}


img{
    display: block;
    height: auto;
    width: 100%;
}

body{
    background-color: var(--neutral-gray);
    font-family: 'Poppins', sans-serif;
}

p{
    color: var(--neutral-blue);
}

h1,h2,h3{
    color: var(--neutral-darkblue);
}

.wrap{
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* header */
header{
    width: 40%;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
}

header h1{
    font-size: 2rem;
    font-weight: 100;
}

header h2{
    font-size: 1.5rem;
    font-weight: 900;
    margin: 1rem 0;
}

header p{
    font-size: 0.9rem;
    line-height: 1.4;
}


/* column container */
.wrap_inner{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, auto));
    grid-gap: 1rem;
    padding: 1rem 0;
    width: 70%;
    margin: auto;
}

.wrap_inner h3{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.wrap_inner p{
    font-size: 0.8rem;
    line-height: 1.4;
}

.team_builder_and_karma{
    display: grid;
    grid-gap: 1rem 0;
}



/* individual columns */
.supervisor,
.team_builder,
.karma,
.calculator{
    position: relative;
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 6px 10px hsla(229, 18%, 64%, 0.397);
}

.supervisor img,
.team_builder img,
.karma img,
.calculator img{
    float: right;
    width: 20%;
    margin-top: 1rem;
}


.supervisor,
.calculator{
    align-self: center;
}

.supervisor{
    border-top: 4px solid var(--primary-cyan);
}

.team_builder{
    border-top: 4px solid var(--primary-red);
}

.karma{
    border-top: 4px solid var(--primary-orange);
}

.calculator{
    border-top: 4px solid var(--primary-blue);
}



footer{
    display: none !important;
}


@media(max-width: 768px){
    .wrap_inner{
        width: 80%;
    }
}




@media(max-width: 430px){
    .wrap{
        height: auto;
        overflow: auto;
    }
    
    /* header */
    header{
        width: 90%;
    }
    
    header h1{
        font-size: 1.6rem;
    }
    
    header h2{
        font-size: 1.3rem;
        font-weight: 800;
    }
    
    
    
    /* column container */
    .wrap_inner{
        grid-template-columns: none;
        grid-gap: 2rem;
        padding: 2rem 0;
        width: 90%;
    }
    
    .team_builder_and_karma{
        grid-gap: 2rem 0;
    }
    
    
    
    /* individual columns */
    
    .supervisor img,
    .team_builder img,
    .karma img,
    .calculator img{
        float: right;
        width: 20%;
        margin-top: 1rem;
    }
    
    
    .supervisor,
    .calculator{
        align-self: auto;
    }

    footer{
        display: block !important;
        text-align: center;
        padding: 2rem 0;
    }

    footer p{
        font-size: 0.7rem;
        color: var(--neutral-blue);
    }

    footer a{
        font-size: 0.7rem;
        color: var(--primary-red);
        text-decoration: none;
    }
}